body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(236, 228, 228);
}


/* HEADER MAKING*/

.header {
    position: relative;
    text-align: center;
    color: whitesmoke;
}

.over-img-text {
    position: absolute;
    top: 38%;
    left: 35%;
    font-size: 50px;
    letter-spacing: 70px;
}

#header-pic1 {
    max-height: 250px;
    width: 100%;
}

#header-pic2 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 38%;
    left: 35%;
}


/*-------------------------------------------------*/


/* MAIN AND SIDE CONTENT*/

.content-wrapper {
    background: rgba(212, 205, 205, 0.171);
}

#main-content {
    background: white;
    display: inline-block;
    width: 61.3%;
    margin-top: 20px;
    margin-left: 1.5%;
    margin-right: 0.5%;
}

.posts {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid gray;
}

.post-title {
    color: rgb(0, 128, 68);
    padding: 10px;
}

.options {
    display: flex;
    flex-direction: row;
}

.remove-post {
    padding: 8px;
    padding-top: 3px;
    margin-left: 20px;
}

.modify-post {
    padding: 8px;
    padding-top: 3px;
}

.voting-area {
    display: flex;
    justify-items: center;
    align-items: center;
}

.upvote,
.downvote {
    display: flex;
    justify-items: center;
    align-self: center;
    cursor: pointer;
    transition: .2s ease all;
}

.upvote:hover,
.downvote:hover {
    opacity: .7;
}

.vote-text {
    display: flex;
    justify-items: center;
    align-items: center;
}


/*------------------------------------------------------*/

h2 {
    margin: 0px;
}

.sideContent {
    background: rgba(241, 237, 237, 0.932);
    min-height: 220px;
    width: 33%;
    margin-top: 20px;
    margin-right: 1.5%;
    margin-left: 0.5%;
    float: right;
}

.about {
    font-weight: 600;
}

.new-post-btn {
    height: 35px;
    width: 100%;
    letter-spacing: 1px;
    background: rgb(0, 195, 255);
    border: none;
    color: white;
    font-weight: bold;
    padding-bottom: 2px;
}

p {
    font-weight: bold;
    background: white;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    text-align: left;
}

.link-to-real-reddit {
    text-decoration: none;
    color: rgb(0, 174, 255);
}

.side-text {
    text-align: center;
    padding-top: 15px;
}


/*----------------------------------------------------*/


/*SUBMIT STYLE*/