<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The real Reddit</title>
    <link rel="stylesheet" type="text/css" href="mainstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <img id="header-pic1" src="../assets/space.jpg" alt="Szia :)">
            <img id="header-pic2" src="https://b.thumbs.redditmedia.com/Zf90LsQEOyfU9RKf5NgXRATeMlFHULaD-B6UlicR5Sc.png" alt="Hali :)">
            <div class="over-img-text">SPACE</div>
        </div>
        <div class="content-wrapper">
            <div class="main-content">
                <div class="posts">
                    <div lass="voting-area">
                        <img id="upvote" src="../assets/upvote.png" alt="Szia :)">
                        <div class="vote-text">Vote</div>
                        <img id="downvote" src="../assets/downvote.png" alt="Szia :)">
                    </div>
                    <div class="text-area">
                        <h2 class="post-title">Week of october 29,2017 'All Space Questions' thread Week of october 29,2017 'All Space Questions' thread</h2>
                        <div class="options">
                            <div class="remove-post">Remove post</div>
                            <div class="modify-post">Modify post</div>
                        </div>
                    </div>
                </div>
                <div class="posts">
                    <div lass="voting-area">
                        <img id="upvote" src="../assets/upvote.png" alt="Szia :)">
                        <div class="vote-text">Vote</div>
                        <img id="downvote" src="../assets/downvote.png" alt="Szia :)">
                    </div>
                    <div class="text-area">
                        <h2 class="post-title">Week of october 29,2017 'All Space Questions' thread Week of october 29,2017 'All Space Questions' thread</h2>
                        <div class="options">
                            <div class="remove-post">Remove post</div>
                            <div class="modify-post">Modify post</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideContent">
                <button class="new-post-btn">SUBMIT A NEW POST</button>
                <div class="about">
                    <p>ABOUT <a class="link-to-real-reddit" href="https://www.reddit.com/r/space" target="_blank">r/Space</a></p>
                    <div class="side-text">Share & discuss infromative content on:</div>
                    <ul>
                        <li>Astrosomething</li>
                        <li>Cosmosomething</li>
                        <li>Space Explosomething</li>
                        <li>Planetáris tudomány</li>
                        <li>astrobiology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>