<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The real Reddit</title>
    <link rel="stylesheet" type="text/css" href="mainstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <img id="header-pic1" src="../assets/space.jpg" alt="Szia :)">
            <img id="header-pic2" src="https://b.thumbs.redditmedia.com/Zf90LsQEOyfU9RKf5NgXRATeMlFHULaD-B6UlicR5Sc.png" alt="Hali :)">
            <div class="over-img-text">SPACE</div>
        </div>
        <div class="content-wrapper">
            <div id="main-content">

            </div>
            <div class="sideContent">
                <a href="submit.html"><button class="new-post-btn">SUBMIT A NEW POST</button></a>
                <div class="about">
                    <p>ABOUT <a class="link-to-real-reddit" href="https://www.reddit.com/r/space" target="_blank">r/Space</a></p>
                    <div class="side-text">Share & discuss infromative content on:</div>
                    <ul>
                        <li>Astrosomething</li>
                        <li>Cosmosomething</li>
                        <li>Space Explosomething</li>
                        <li>Planetáris tudomány</li>
                        <li>astrobiology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="main.js"></script>

</html>