<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="mainstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <title>SUBMIT YOUR THING BOI</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <img id="header-pic1" src="../assets/space.jpg" alt="Szia :)">
            <img id="header-pic2" src="https://b.thumbs.redditmedia.com/Zf90LsQEOyfU9RKf5NgXRATeMlFHULaD-B6UlicR5Sc.png" alt="Hali :)">
            <div class="over-img-text">SPACE</div>
        </div>
        <div class="form-holder">
            <form>

            </form>
        </div>
        <button class="new-post-btn">SUBMIT</button>
</body>

</html>