body {
  background: #eee;
}

.container {
  display:flex;
  padding:0;
  margin: 0;
  flex-direction: row-reverse;
}

.item {
  min-width: 100px;
  height: 100px;
  margin:0px;
  padding:0px;
}
.item.green{
  position: relative;
  flex-grow: 1;
  background-color:green;
}
.item.yellow {
  flex-grow: 2;
  background-color: yellow;
}
.item.purple {
  flex-grow: 1;
  position: relative;
  background-color:purple;
}