body {
  background: #eee;
}

.container {
  padding:0;
  margin: 0;
}

.item {
  width: 100px;
  height: 100px;
  display:  inline-block;
  margin:0px;
  padding:0px;
}
.item.green{
  background-color:green;
}
.item.yellow {
  background-color: yellow;
}
.item.purple {
  background-color:purple;
}